*.iml
/app/.gradle
/app/local.properties
/app/.idea/workspace.xml
/app/.idea
/app/.idea/libraries
/app/.DS_Store
/app/build
/app/captures
/app/.externalNativeBuild
/backend/target
/backend/target/
/backend/.idea
/backend/.idea/
